<div class="articles">
    {{#each someArticles}}
    <div class="article_item card mb-2">
        <div class="card-body">
            <h4 class="card-title">{{article_title}}</h4>
            <img class="article_img card-img-top" src="{{article_img_src}}"
                alt="img.img">
            <p class="card-text">{{article_summary}}</p>
            <h6>Read More... <a href="https://www.nytimes.com{{url_link}}"
                    target="_blank">{{url_link}}</a></h6>
            <button type="button" data_id = "{{_id}}"" class="save_article btn
                btn-primary mr-2">Save
                Article</button>
            {{!-- saved btn --}}
            {{!-- <button type="button" class="saved_article btn
                btn-success mr-2"><i class="fa fa-check"
                    aria-hidden="true"></i>Article Saved!</button> --}}
            {{!-- show notes --}}
            {{!-- <button type="button" class="btn btn-info" data-toggle="modal"
                data-target="#modelId">
                Notes
            </button> --}}
        </div>
    </div>
    {{/each}}
</div>
